

.btn{

    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 0px black;
    width: 20%;
    height: 3rem;
    top: 65%;
    left: 18%;
    font-size: 2rem;
    animation: 1s slidein-left;

}

@keyframes slidein-left {
    0% {
        
        transform: translateX(-120%);
    }
   
    100% {
     
        transform: translateX(0);
    }
}
