.homePage_container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);
    position: relative;

}




section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
}

.homePage {
    width: 100%;
    height: 100vh;
    /* background: rgb(21,37,63);
    background: linear-gradient(180deg, rgba(21,37,63,1) 0%, rgba(8,23,46,1) 44%); */
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    /* z-index: 4; */
    position: absolute;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);

}



.moonlight_img {
    position: relative;
    left: 32%;
    top: -15%;
    /* z-index: 1; */


}

.moon_img {
    position: absolute;
    z-index: 2;
    top: 32%;
    right: 18%;
    animation: 1s slide-right;


}

.lightcloud1_img {
    position: absolute;
    top: 18%;
    left: 65%;
    animation: 1s slide-right;
}

.lightcloud2_img {
    position: absolute;
    top: 29%;
    left: 40%;
    animation: 1s slide-right;
}


/* top right */
.darkcloud1_img {
    position: absolute;
    top: 42%;
    left: 72%;
    animation: 2s slide-right;
    z-index: 2;
}

/* bottom right */
.darkcloud2_img {
    position: absolute;
    top: 74%;
    left: 65%;
    animation: 2s slide-right;
    z-index: 3;
}


/* bottom left */
.darkcloud3_img {
    position: absolute;
    top: 65%;
    left: 40%;
    animation: 1s slide-right;
    z-index: 2;
}




.portfolio_heading {
    color: rgb(208, 66, 97);
    position: absolute;
    top: 54%;
    font-size: 4rem;
    left: 49%;
    font-weight: 900;
    z-index: 10;
    /* text-shadow: 3px 10px white; */

}


@keyframes slide-right {
    0% {

        transform: translateX(120%);
    }

    100% {

        transform: translateX(0);
    }
}


































.homePage_skills {
    width: 100%;
    height: 100vh;
    background-color: yellow;
    margin: 0px;
    padding: 0px;
    /* z-index: 3; */
    position: absolute;
    /* background: rgb(21,37,63);
    background: linear-gradient(180deg, rgba(21,37,63,1) 0%, rgba(8,23,46,1) 44%); */
    background-color: transparent;
}

.homePage_skills_heading {
    font-size: 13rem;
    color: white;
    position: absolute;
    top: 19%;
    left: 17%;
    animation: 1.4s slidein-left ease-in-out;


}

.model {
    position: absolute;
    width: 45%;
    height: 100vh;
    left: 55%;
    animation: 1.4s slidein-right ease-in-out;
}











@keyframes slidein-left {
    0% {

        transform: translateX(-120%);
    }

    100% {

        transform: translateX(0);
    }
}


@keyframes slidein-right {
    0% {

        transform: translateX(90%);
    }

    100% {

        transform: translateX(0%);
    }
}

























.homePage_Works {
    width: 100%;
    height: 100vh;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);
    margin: 0px;
    padding: 0px;
    /* z-index: 2; */
    position: absolute;

}


.homePage_works_heading {
    font-size: 10rem;
    color: white;
    position: absolute;
    top: 27%;
    left: 14%;
    animation: 1.4s slidein-left ease-in-out;


}


















.homePage_About {
    width: 100%;
    height: 100vh;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);
    margin: 0px;
    padding: 0px;
    /* z-index: 1; */
    position: absolute;

}

.homePage_about_heading {
    font-size: 10rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 17%;
    animation: 1.4s slidein-left ease-in-out;
}

.test{
    position: absolute;
    width: 30vh;
    height: 20vh;
}