@import url('https://fonts.googleapis.com/css?family=Roboto:700');



/* Main Container */
.homePage_container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    scroll-snap-type: y mandatory; 
     overflow-y: hidden;
   

    scroll-behavior: smooth; 
    overflow-x: hidden;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);
    position: relative;

}



/* All section Tag properties */
section {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    
}

/* HomePage Main section properties */
.homePage {
    width: 100%;
    height: 100vh;
    /* background: rgb(21,37,63);
    background: linear-gradient(180deg, rgba(21,37,63,1) 0%, rgba(8,23,46,1) 44%); */
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    /* z-index: 4; */
    position: absolute;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);

}

.moonlight_img {
    position: relative;
    left: 32%;
    top: -15%;
    /* z-index: 1; */
}

.moon_img {
    position: absolute;
    z-index: 2;
    top: 32%;
    right: 18%;
    animation: 1s slide-right;
}

.lightcloud1_img {
    position: absolute;
    top: 18%;
    left: 65%;
    animation: 1s slide-right;
}

.lightcloud2_img {
    position: absolute;
    top: 29%;
    left: 40%;
    animation: 1s slide-right;
}

/* top right */
.darkcloud1_img {
    position: absolute;
    top: 42%;
    left: 72%;
    animation: 2s slide-right;
    z-index: 2;
}

/* bottom right */
.darkcloud2_img {
    position: absolute;
    top: 74%;
    left: 65%;
    animation: 2s slide-right;
    z-index: 3;
}

/* bottom left */
.darkcloud3_img {
    position: absolute;
    top: 65%;
    left: 40%;
    animation: 1s slide-right;
    z-index: 2;
}

.portfolio_heading {
    color: rgb(208, 66, 97);
    position: absolute;
    top: 54%;
    font-size: 4rem;
    left: 49%;
    font-weight: 900;
    z-index: 3;
    /* text-shadow: 3px 10px white; */

}


@keyframes slide-right {
    0% {

        transform: translateX(120%);
    }

    100% {

        transform: translateX(0);
    }
}







/* HomePage Skills section properties */
.homePage_skills {
    width: 100%;
    height: 100vh;
    background-color: yellow;
    margin: 0px;
    padding: 0px;
    /* z-index: 3; */
    position: absolute;
    /* background: rgb(21,37,63);
    background: linear-gradient(180deg, rgba(21,37,63,1) 0%, rgba(8,23,46,1) 44%); */
    background-color: transparent;
}

.homePage_skills_heading {
    font-size: 13rem;
    color: white;
    position: absolute;
    top: 19%;
    left: 17%;
    animation: 1.4s slidein-left ease-in-out;


}

.model {
    position: absolute;
    width: 45%;
    height: 100vh;
    left: 55%;
    animation: 1.4s slidein-right ease-in-out;
}












/* HomePage Works section properties */
.homePage_Works {
    width: 100%;
    height: 100vh;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);
    margin: 0px;
    padding: 0px;
    /* z-index: 2; */
    position: absolute;
}

.homePage_works_heading {
    font-size: 10rem;
    color: white;
    position: absolute;
    top: 27%;
    left: 14%;
    animation: 1.4s slidein-left ease-in-out;
}





/* HomePage About Me section properties */
.homePage_About {
    width: 100%;
    height: 100vh;
    background: rgb(21, 37, 63);
    background: linear-gradient(180deg, rgba(21, 37, 63, 1) 0%, rgba(8, 23, 46, 1) 44%);
    margin: 0px;
    padding: 0px;
    /* z-index: 1; */
    position: absolute;

}

.homePage_about_heading {
    font-size: 10rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 17%;
    animation: 1.4s slidein-left ease-in-out;
}




/* Extra things code */


.test{
    position: absolute;
    width: 30vh;
    height: 20vh;
}






.Main_homePage{
    width: 100%;
    height: 100vh;
/*   
    background-color: aqua; */
    position: relative;
}



.show_div{
    
    width: 100%;
    /* background-color: #be7911; */
    background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: absolute;
    animation-name: downToTop;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
   visibility: hidden;
    animation-duration: 1s;
    
}




.animated-title {
    border: 2px yellow solid;
  color: rgb(172, 41, 41);
  font-family: Roboto, Arial, sans-serif;
  height: 40vmin;
  left: 24%;
  position: absolute;
  top: 43%;
  transform: translate(-50%, -50%);
  width: 40vmin;
 
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 17vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid rgb(255, 255, 255);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 0.6s;
  /* animation-delay: 0.5s; */
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #be7911;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.6s;

  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}



.model_div{
    position: absolute;
    top: 30%;
    width: 35%;
    height: 50vh;
    left: 55%;
    border: 4px  solid brown;
}



.boxOuter{
  position: relative;
  height:100%;
  top: -100%;
  background-color: antiquewhite;

  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  visibility: hidden;
  animation-duration: 1s;
}



.boxInner{
    position: relative;
    height:100%;
    width: 100%;
} 




/* Keyframes */
@keyframes slidein-left {
    0% {

        transform: translateX(-120%);
    }

    100% {

        transform: translateX(0);
    }
}


@keyframes slidein-right {
    0% {

        transform: translateX(90%);
    }

    100% {

        transform: translateX(0%);
    }
}



@keyframes move {
    0% {
   
      width: 100%;
      visibility: visible;
    }

   
    100% {
     width: 0%;
     visibility: visible;
     
    }
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
   
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0);   }
  }

  @keyframes downToTop {
    0% {
   
      height: 100%;
      z-index: 1200;
      visibility: visible;
    }

   
    100% {
     height: 0%;
     z-index: 1200;
     
     visibility: visible;
     
    }
  }




  /* Tester area */




