/* Whole page properties */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Main Container properties */
.container{
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
   scroll-behavior: smooth;
   height: 100vh;
   overflow-x: hidden;
   
}

.container::-webkit-scrollbar { width: 0 !important }



/*Each section properties*/
section{
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
  
}


/*Skill Page section 1 properties */
.Skill_main{
   
    background: rgb(11, 23, 42);
    /* background: linear-gradient(180deg, rgba(21,37,63,1) 0%, rgba(8,23,46,1) 44%); */
   
}


.skill_heading{
    position: relative;
    top: 25%;
    left: 10%;
    font-size: 10rem;
    color: black;
}


.skill_heading2{
    position: relative;
    top: 41%;
    left: -14%;
    font-size: 10rem;
    color: white;
   
}

.skill_heading3{
    position:relative;
    top: 57%;
    left: -38%;
    font-size: 10rem;
    color: white;
   
}


/* Skill Section 2 -> Programming Language  */

.Skill_programming_languages{

    background: rgb(11, 23, 42);
    
}


.Skill_pf_heading{
    color: white;
    font-size: 3rem;
    position: relative;
    top: 10%;
    left: 10%;
}

.Skill_pf_javascript{
    color: aliceblue;

}

.Skill_pf_progress{
    
    position: relative;
    top: 25%;
    left:-15%;
   
}



.frame{
    position: relative;
    top: 20%;
    left:0;
}
        

/* Skill Section 3 -> FrameWorks*/
.Skill_FrameWorks{
    background: rgb(11, 23, 42);
}
.Skill_frame_heading{
    color: white;
    font-size: 3rem;
    position: relative;
    top: 5%;
    left: 10%;
}



/* Skill Section 4 -> Extra */

.Skill_extra{
    background: rgb(11, 23, 42);
}

.Skill_extra_heading{
    color: white;
    font-size: 3rem;
    position: relative;
    top: 5%;
    left: 10%;
}



/* Skill Section 5 -> DSA */
.Skill_DSA{
   
    background-color: palegreen;
}
